*{
    font-family: 'Sawarabi Gothic', sans-serif;
}

body{
    background-color: #006622;
}

.jumbotron {
    padding: 30px;
}

.row-content {
    padding: 50px 0;
    border-top: 1px ridge;
    min-height: 200px;
}

.card {
    /* width: 18rem; */
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card-header{
    color: #ffffff;
    background-color: #006622;
}


.card-columns {
    display: inline-block;
    align-self: stretch;
}
.selector-for-some-widget {
    box-sizing: content-box;
  }

.navbar-brand {
    width: 20rem;
}

 .navbar-brand-img {
      height: 100%;
      width: 100%;
  }

  .container{
      background-color: #ffffff;
      padding: 2rem;
      margin-bottom: 2rem;
  }

  nav {
    background-color: #f0f0f0;
  }

  footer {
      background-color: #f0f0f0;
  }

  footer img {
      height: 2.5rem;
  }

  #outside {
      width: 100%;
  }

  #footer-info {
      text-align: center;
  }

  #index {
    color: #F08201;
}